<% layout("/layouts/boilerplate") %>

<div class="container my-5">
  <div class="row">
    <p class="fs-3">Search result for '<%= searchKey %>'</p>
    <hr />
  </div>
  <div class="row">
    <div class="col-3 border-end">
      <div class="list-group-flush">
        <a
          href=""
          class="list-group-item list-group-item-action border-0 active"
          aria-current="true"
        >
          Everything
        </a>
        <a
          href="/search/tracks?q=<%=searchKey%>"
          class="list-group-item list-group-item-action border-0"
          >Tracks</a
        >
        <a
          href="/search/playlists?q=<%=searchKey%>"
          class="list-group-item list-group-item-action border-0"
          >Playlists</a
        >
        <a
          href="/search/people?q=<%=searchKey%>"
          class="list-group-item list-group-item-action border-0"
          >People</a
        >
      </div>
    </div>
    <div class="col-9">aici tot ce corespunde cu <%=searchKey%></div>
  </div>
</div>
