<% layout("/layouts/boilerplate") %>

<div class="container my-5">
  <div class="row">
    <p class="fs-3">
      Search result for '<%=searchQuery ? searchQuery : "anything"%>'
    </p>
    <hr />
  </div>
  <div class="row">
    <div class="col-3 border-end fs-5">
      <div class="list-group-flush">
        <a
          href="/search?q=<%=searchQuery%>"
          class="list-group-item list-group-item-action border-0 disabled"
          aria-current="true"
        >
          <i class="fas fa-search me-2"></i>Everything (disabled)
        </a>
        <a
          href="/search/tracks?q=<%=searchQuery%>"
          class="list-group-item list-group-item-action border-0"
          >Tracks</a
        >
        <a
          href=""
          class="list-group-item list-group-item-action border-0 active"
          >Playlists</a
        >
        <a
          href="/search/people?q=<%=searchQuery%>"
          class="list-group-item list-group-item-action border-0"
          >People</a
        >
      </div>
    </div>
    <div class="col-7 offset-1">
      <p class="text-muted fs-4 my-4">
        Found <%=playlists.length%> matching playlist<%=playlists.length == 1 ?
        "" : "s"%>...
      </p>
      <% for (let playlist of playlists) { %>
      <div class="card my-3">
        <div class="row g-0">
          <div
            class="col-md-4 d-flex align-self-center justify-content-center py-3"
          >
            <img
              src="<%=playlist.image%>"
              class="img-thumbnail w-75"
              style="height: 170px; object-fit: contain"
              alt="song-image"
            />
          </div>
          <div
            class="col-md-8 d-flex flex-column justify-content-center align-self-center"
          >
            <div
              class="card-body d-flex flex-column justify-content-center align-self-center text-center"
            >
              <a
                href="/users/<%=playlist.username%>/playlists/<%=playlist.playlist_id%>"
                class="text-decoration-none"
                ><h3 class="card-title text-dark"><%=playlist.title%></h3></a
              >
              <p class="card-text fs-5">
                Created by:
                <a
                  class="text-decoration-none"
                  href="/users/<%=playlist.username%>"
                  ><span class="text-dark lead"><%=playlist.fullname%></span></a
                >
              </p>
              <p class="card-text fs-5">Duration: <%=playlist.length%></p>
              <p class="card-text fs-5">
                Number Of Songs: <%=playlist.nr_of_songs%>
              </p>
              <p class="card-text fs-5">
                <small class="text-muted"
                  >Created on: <%=playlist.date_created%></small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
