<% layout("/layouts/boilerplate") %>

<div class="container text-center">
  <div class="card text-bg-dark">
    <img
      src="<%=user.backgroundImage%>"
      class="card-img img-thumbnail w-100"
      alt="bckg-img"
      style="
        max-height: 400px;
        background-size: cover;
        background-position: center;
      "
    />
    <div
      class="card-img-overlay d-flex justify-content-center align-items-center my-4 py-2"
    >
      <div class="row d-flex justify-content-center">
        <div class="col-4 my-4 py-2">
          <img
            class="img-thumbnail w-75"
            src="<%=user.profileImage%>"
            alt="profile-img"
            style="border-radius: 20%"
          />
        </div>
        <div class="col-6 d-flex flex-column justify-content-center my-4 py-2">
          <h3 class="card-title fs-2 my-3"><%= user.name %></h3>
          <p class="card-text fs-4">
            - <%= user.bio ? user.bio : 'No bio yet...' %>
          </p>
          <p class="card-text text-muted"><%= user.email %></p>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg mt-2">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link fs-3 mx-3 text-dark"
            href="/users/<%=user.username%>/profile"
            >Overview</a
          >
          <a
            class="nav-link fs-3 mx-3 text-info text-decoration-underline"
            href="#"
            >Tracks</a
          >
          <a
            class="nav-link fs-3 mx-3 text-dark"
            href="/users/<%=user.username%>/playlists"
            >Playlists</a
          >
          <a
            class="nav-link fs-3 mx-3 text-dark"
            href="/users/<%=user.username%>/likes"
            >Likes</a
          >
        </div>
      </div>
    </div>
  </nav>

  <div class="row mt-5 text-start">
    <p class="lead fs-2">These are your tracks</p>
    <hr />
  </div>

  <div class="container mb-4">
    <% if(!Object.keys(songs).length) { %>
    <div class="row my-5">
      <p class="fs-5">You have not uploaded any tracks yet...</p>
    </div>
    <% } else { %> <% for(let songId of Object.keys(songs)) { %>
    <div class="card my-3">
      <div class="row g-0 py-3">
        <div class="col-md-4 d-flex justify-content-center align-self-center">
          <img
            src="<%=songs[songId].image%>"
            class="img-thumbnail w-75"
            style="object-fit: contain; max-height: 200px"
            alt="song-image"
          />
        </div>
        <div
          class="col-md-8 d-flex flex-column justify-content-center align-self-center"
        >
          <div
            class="card-body d-flex flex-column justify-content-center align-self-center text-center"
          >
            <a
              href="/users/<%=songs[songId].author%>/tracks/<%=songId%>"
              class="text-decoration-none"
              ><h3 class="card-title text-dark"><%=songs[songId].title%></h3></a
            >
            <p class="card-text fs-5">
              by: <% for(let artist of songs[songId].artists) { %>
              <a
                href="/users/<%=artist.username%>"
                class="text-decoration-none me-2"
                ><span class="text-dark lead"><%=artist.fullname%></span></a
              >
              <% } %>
            </p>
            <p class="card-text fs-5">Duration: <%=songs[songId].duration%></p>
            <p class="card-text fs-5">
              <small class="text-muted">Genre: <%=songs[songId].genre%></small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% } %> <% } %>
  </div>
</div>
